%p
  != 'Contact:&#x20;'
  %a{ href: 'mailto:horsedrowner@gmail.com' }= 'horsedrowner@gmail.com'
  %span.bullet!= '&#x20;—&#x20;'
  %a{ href: 'https://twitter.com/horsedrowner' }= '@horsedrowner'
%p
  %a{ href: 'http://s.horsedrowner.net/' }= 'Images'
  %span.bullet!= '&#x20;—&#x20;'
  %a{ href: 'http://dash.horsedrowner.net/' }= 'Dashboard'