%p
  ="Contact: "
  %a{ href: 'mailto:horsedrowner@gmail.com' }= 'horsedrowner@gmail.com'
  %span.bullet= '—'
  %a{ href: 'https://twitter.com/horsedrowner' }= '@horsedrowner'
%p
  %a{ href: 'http://s.horsedrowner.net/' }= 'Images'
  %span.bullet= '—'
  %a{ href: 'http://dash.horsedrowner.net/' }= 'Dashboard'