<%
id = SteamId.new(settings.steamid)
np = LastFmUser.new(settings.lastfm_user)
tc = TwitchChannel.new(settings.twitch_user)
id.parse
np.parse
tc.parse
%>
<!doctype html>
<title>horsedrowner.net</title>
<meta charset="utf-8">
<meta name="author" content="Ruben Verdoes">
<meta name="description" content="Nothing to see here, please move along">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
<meta name="msapplication-tooltip" content="horsedrowner.net">
<meta name="msapplication-starturl" content="./">
<meta name="msapplication-navbutton-color" content="#254A88">
<meta name="msapplication-TileImage" content="curly-144px.png">
<meta name="msapplication-TileColor" content="#254A88">
<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="/icon.min.css">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Exo+2:300,600">

<p id="twitch-alert" class="live twitch stream alert" <%= 'style="display:none"' unless tc.live? %>>
    <a href="<%= h tc.link %>">
        <i class="red circle icon"></i>
        <span id="twitch-status"><%= h tc.status %></span> — Live on Twitch playing <span id="twitch-game"><%= h tc.game %></span>
        <i id="twitch-alert-loading" class="refresh loading icon" style="display: none"></i>
    </a>
</p>
<p id="nowplaying" class="alert" <%= 'style="display:none"' unless np.playing? %>>
    <a><img src="/images/lastfm.png" alt="Last.fm"> <span><%= "#{ np.to_s }" %></span>
    <i id="nowplaying-loading" class="refresh loading icon" style="display: none"></i></a>
</p>
<header>
    <img id="avatar" class="avatar <%= id.status %>" src="<%= settings.avatar %>" alt="">
    <span id="display-name" class="title <%= id.status %>"><%= id.state_message %></span>
    <i id="display-name-loading" class="refresh loading icon" style="display: none"></i>
    <nav>
        <ul>
            <% settings.pages.each do |p| %>
            <li><a href="/<%=p%>" <%= 'class="active"' if @page == p %>><%=p%></a>
            <% end %>
            <%= "<li><a href=\"/#{ @page }\" class=\"active\">#{ @page }</a>" unless settings.pages.include?(@page) %>
        </ul>
    </nav>
</header>

<main>
    <%= yield %>
</main>

<%= erb :footer %>

<script src="/assets/scripts/jquery-2.1.1.min.js"></script>
<script defer src="/assets/scripts/status.js"></script>
<script defer src="/assets/scripts/misc.js"></script>