#input
  %form{ method: :get }
    %label{ for: :string }= 'Inspect a string:'
    %input{ type: :text, name: :string, value: params[:string], required: true }

- unless strtools.nil?
  #output
    %h1= 'Details'
    %table.characters
      %thead
        %tr
          %th= 'Chr.'
          %th= 'Code'
          %th= 'Name'
      - strtools.inspect_string.each do |c|
        %tr
          %td.char~ c[:char]
          %td.ord
            %code= "U+#{ c[:ord].to_s(16).rjust(4, '0') }"
          %td.sid= c[:sid]